@import (reference) 'mixins';

.link {
  color: @c-gray-60;

  &:link {
    color: @c-gray-60;
  }

  &:visited {
    color: @c-gray-60;
  }

  &:hover {
    color: @c-gray-70;
  }

  &:active {
    color: @c-gray-70;
  }

  &:focus {
    color: @c-gray-70;
  }
}
