@import (reference) 'src/styles/mixins';

.Layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: fixed;
  transition: background-color @animation;
  width: 100%;

  .html_light & {
    background-color: @c-white;
  }

  .html_dark & {
    background-color: @c-black;
  }

  &__Body {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    min-height: 0;
    overflow: hidden;
  }

  &__Footer {
    flex-shrink: 0;
  }
}
