@import (reference) 'src/styles/mixins';

.RatingRank {
  @fade: 60%;
  @offset: 6px;
  @size: 16px;

  background-color: @c-black-9;
  border-radius: @size;
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  line-height: @size - @offset * 2;
  padding: @offset;
  text-align: center;
  text-transform: capitalize;
  vertical-align: middle;

  &_novice {
    background-color: fade(@c-rate2-1, @fade);
  }

  &_amateur {
    background-color: fade(@c-rate2-2, @fade);
  }

  &_expert {
    background-color: fade(@c-rate2-3, @fade);
  }

  &_master {
    background-color: fade(@c-rate2-4, @fade);
  }
}
