@import (reference) 'src/styles/mixins';

.RatingCityHeader {
  text-align: center;

  &__Title {
    color: @c-primary-4;
  }

  transition: background-color @animation;

  .html_light & {
    background-color: @c-primary-10;
  }

  .html_dark & {
    background-color: @c-primary-1;
  }
}
