@import (reference) 'src/styles/mixins';

@w-position: 30px;
@w-change: 30px;
@w-name: 129px;
@w-rank: 53px;
@w-value: 39px;
@w-favorite: 49px;
@w-total: @w-position + @w-change + @w-name + @w-rank + @w-value + @w-change + @w-favorite;

.get-width(@width) {
  flex-basis: percentage(@width / @w-total);
}

.RatingList {
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  flex-grow: 1;
  overflow: auto;
  transition: background-color @animation;

  .html_light & {
    background-color: @c-white;
  }

  .html_dark & {
    background-color: @c-black;
  }

  &__Row {
    align-items: center;
    display: flex;
    height: 48px;
    transition: background-color @animation, color @animation;

    .html_light & {
      color: @c-black-6;

      &:nth-child(even) {
        background-color: @c-black-10;
      }
    }

    .html_dark & {
      color: @c-white-6;

      &:nth-child(even) {
        background-color: fade(@c-gray-3, 50%);
      }
    }
  }

  &__Col {
    font-weight: 500;
    overflow: hidden;
    padding-left: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;

    &_Position {
      .get-width(@w-position);
      text-align: right;
    }

    &_Name {
      .get-width(@w-name);

      flex-grow: 1;
    }

    &_Rank {
      .get-width(@w-rank);

      text-align: center;
    }

    &_Value {
      .get-width(@w-value);
      text-align: right;
    }

    &_Change {
      .get-width(@w-change);
    }

    &_Favorite {
      flex-basis: @w-favorite;
      text-align: right;
    }
  }
}
