@import (reference) 'src/styles/mixins';

.RatingRank {
  @size: 32px;

  background-color: @c-black-9;
  border-radius: @size;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  height: @size;
  line-height: @size;
  text-align: center;
  text-transform: capitalize;
  width: @size;

  &_novice {
    background-color: fade(@c-rate-1, 40%);
  }

  &_amateur {
    background-color: fade(@c-rate-2, 40%);
  }

  &_expert {
    background-color: fade(@c-rate-3, 40%);
  }

  &_master {
    background-color: fade(@c-rate-4, 40%);
  }
}
