@import (reference) 'src/styles/mixins';

.RatingChange {
  @fade: 90%;
  font-size: 12px;

  &_negative {
    color: fade(@c-rate2-5, @fade);
  }

  &_none {
    display: none;
  }

  &_positive {
    color: fade(@c-rate2-1, @fade);
  }
}
