// набор системной цветовой палитры.
@c-error-50: #e22109;
@c-error-40: #fde9e7;

@c-info-50: #f4b920;
@c-info-40: #fdf1d2;

@c-mark-50: #ffed00;
@c-success-50: #7ed225;
@c-warning-50: #ffca3a;

// набор цветовой палитры сайта
@c-primary-100: #222423;
@c-primary-90: #445748;
@c-primary-80: #697d6c;
@c-primary-70: #91a393;
@c-primary-60: #bdc9be;
@c-primary-50: #c9d6ca;
@c-primary-40: #d5e3d6;
@c-primary-30: #e2f0e1;
@c-primary-20: #eefced;
@c-primary-10: #f1fff0;

// набор оттенков серого.
@c-gray-100: #212121;
@c-gray-90: #474747;
@c-gray-80: #6e6e6e;
@c-gray-70: #949494;
@c-gray-60: #bbbbbb;
@c-gray-50: #c7c7c7;
@c-gray-40: #d4d4d4;
@c-gray-30: #e0e0e0;
@c-gray-20: #ededed;
@c-gray-10: #fafafa;

@c-black: #000000;
@c-white: #ffffff;

// полупрозрачный белый
@c-white-80: fade(@c-white, 80%);
@c-white-60: fade(@c-white, 60%);
@c-white-50: fade(@c-white, 50%);
@c-white-40: fade(@c-white, 40%);
@c-white-20: fade(@c-white, 20%);
@c-white-10: fade(@c-white, 10%);
@c-white-05: fade(@c-white, 5%);

// полупрозрачный чёрный
@c-black-80: fade(@c-black, 80%);
@c-black-60: fade(@c-black, 60%);
@c-black-50: fade(@c-black, 50%);
@c-black-40: fade(@c-black, 40%);
@c-black-20: fade(@c-black, 20%);
@c-black-10: fade(@c-black, 10%);
@c-black-05: fade(@c-black, 5%);
